<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<h1>Multiproxy</h1>
    {{if eq .Status "ok"}}
      <h4>Saved with success</h4>
    {{else if eq .Status "error"}}
      <h4>Failed to save</h4>
    {{end}}

		<h3>Broadcast</h3>
		<ul>
		{{range .Options.Broadcast}}
			<li>{{.}}</li>
		{{end}}
		</ul>
		<h3>Unicast</h3>
		<form action="" method="POST">
      {{$selected := .Selected}}
			<ul>
        {{range .Options.Upstreams}}
          <li>
            <label>
              <input type="radio" name="upstream" value="{{.Key}}"{{if eq .Key $selected}} checked{{end}}>{{.Key}} - {{.Addr}}
            </label>
          </li>
        {{end}}
			</ul>
      <button type="button">Reset</button>
      <button type="submit">Submit</button>
		</form>
    <script type="text/javascript">
      document.querySelector('button[type=button]').addEventListener('click', function () {
        console.log('reset')

        document.querySelectorAll('input[type=radio]').forEach(function (e) {
          e.checked = false
        })

        return false
      })
    </script>
	</body>
</html>
